<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="nav bg-zinc-800">
        <a href="/read" class="px-5 py-2 bg-blue-800 rounded-lg ">Read users</a>
    </div>
    <div class="w-full h-full bg-gradient-to-r from-blue-500 to-cyan-500 p-10 text-black flex flex-col min-h-screen justify-center items-center">
        
        <h1 class="text-3xl tracking-tighter mb-3 font-serif">Create User</h1>
        <form action="/create" method="post">
            <input class="px-5 py-2 border-2 border-zinc-400 rounded-lg outline-none bg-transparent" type="text" placeholder="name" name="name">
            <input class="px-5 py-2 border-2 border-zinc-400 rounded-lg outline-none bg-transparent" type="text" placeholder="email" name="email">
            <input class="px-5 py-2 border-2 border-zinc-400 rounded-lg outline-none bg-transparent" type="text" placeholder="image url" name="image">
            <input class="px-5 py-2 bg-blue-500 rounded-lg ml-3" type="submit" value="Create User">
        </form>
    </div>
</body>
</html>